@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;600;700&display=swap');

$accent: rgb(50, 72, 195);
$white: #f1e8e8;
$black: rgb(20, 19, 19);
$dark-accent: rgb(65, 61, 61);
$hard-dark-accent: rgb(110, 106, 106);

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
